# .env.example

BACKEND_URL="http://localhost:2567"
PORT=2567

# MongoDB Connection String
# Format: mongodb://[user]:[pass]@[host]:[port]/[db_name]?authSource=admin&directConnection=true
MONGO_URI=mongodb://user:pass@localhost:27017/generals_hub?authSource=admin&directConnection=true

# Colyseus Auth Secrets
AUTH_SALT=generate_a_random_string_here
JWT_SECRET=your_jwt_secret_key
SESSION_SECRET=your_session_secret_key